.btn{
    background-color: rgb(93, 93, 240);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn.active{
    background-color: rgb(238, 240, 93);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.between{
    justify-content: space-evenly;
}
main{
    margin: 50px 5%;
}